// Define variables for your color scheme

// For example:


$blue: #0075FF;
$green: #04BA00;
$green-hover: #028b00;
$green-pale: #03ba0020;
$yellow: #FFF50C;
$light-blue: #0077ff20;
$grey-card: #D9D9D910;
$light-gray: #d7d7d7;
$gray: #a2a2a2;
$red: #ff0000;
$red-pale: #ff000020;
$orange: #ffb300;
$customred: #EA3A4F;
