.container-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: $light-blue;
  border-radius: 20px;
  margin: 30px;
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 130px;
  border: 1px solid $blue;
}

.left-product {
  /* Imposta le dimensioni desiderate per il contenitore */
  width: 300px; /* Larghezza desiderata */
  height: 200px; /* Altezza desiderata */
  position: absolute; /* Per posizionare correttamente l'immagine all'interno */
  top: 80px;
  left: 20px;

  /* Stile per l'immagine all'interno del contenitore */
  .product-image {
    width: 500px; /* L'immagine si adatta alla larghezza del suo contenitore */
    height: 420px; /* L'immagine si adatta all'altezza del suo contenitore */
    object-fit: cover; /* L'immagine viene ridimensionata per coprire l'intero contenitore */
    position: absolute; /* Posiziona l'immagine all'interno del contenitore */
    top: 100px; /* Posiziona l'immagine in alto */
    left: 160px; /* Posiziona l'immagine a sinistra */
    border-radius: 10px;
  }
  .product-price {
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: $blue;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
}


.right-product {
  width: 80%;
  position: absolute;
  left: 720px;
  top: 280px;
  /* Stile per il paragrafo */
  p {
    margin-top: 20px; /* Aggiunge spazio sopra il paragrafo (modifica secondo necessità) */
  }
  h1 {
    margin-bottom: 20px; /* Aggiunge spazio sopra il paragrafo (modifica secondo necessità) */
  }
}

.suggestion {
  text-align: center;
  margin-top: 150px;
}

#empty-space {
  width: 5px;
}
