.btn-container {
  text-align: center;
}

.button-primary {
  margin-top: 375px auto;
  border-radius: 9px;
  padding: 10px 40px;
  background-color: $green;
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 20px;
}
