.card-container {
  width: 1250px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  margin-bottom: 80px;
}

.card-container-home {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.card {
  width: 302px;
  background-color: $grey-card;
  border-radius: 20px;
  margin: 8px;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  height: 480px;
}

.card img {
  width: 288px;
  height: 288px;
  border-radius: 14px;
  margin: 6px;
  margin-bottom: 20px;
}

.card:hover {
  background-color: $light-blue;
  border: 1px solid $blue;
  border-radius: 20px;
  transform: translateY(-20px);;
}

.noHover{
  pointer-events: none;
}

.override {
  text-decoration: none;
}
