.navbar-lewagon {
  justify-content: space-between;
  margin: 30px 120px;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link {
  color: white;
  padding: 10px;
}

.nav-link:hover {
  color: $blue;
}

.navbar-nav .dropdown-menu {
  border-radius: 4px;
  background-color: $grey-card;
  border: 1px solid $blue;
}

a.dropdown-item {
  font-family: "Poppins";
  color: $blue;
}

a.dropdown-item:hover {
  font-family: "Poppins";
  color: white;
  background-color: transparent;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 999;
}
