.pagination {
  text-align: right;
  justify-content: center;
  margin-bottom: 80px;
}

.pagination a, .pagination span {
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
  color: grey;
  background-color: $grey-card;
  border-radius: 2px;
  font-family: "Poppins";
  font-size: 14px;
}

.pagination .current {
  padding: 5px 10px;
  background-color: $blue;
  color: #fff;
  border-radius: 2px;
  font-family: "Poppins";
  font-size: 14px;
}
