.pagination {
  margin-top: 15px;
  text-align: right;
  padding-left: 500px;
}

.pagination a, .pagination span {
  padding: 5px 10px;
  margin: 0 2px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
}

.pagination .current {
  background-color: $blue;
  color: #fff;
}
