h1 {
  font-size: 80px;
  font-family: "Changa One";
  text-align: center;
  color: white;
  margin: auto;
}

#main_title {
  margin-top: 220px;
  width: 750px;
  text-align: center;
  margin-bottom: 50px;
}

h1 span {
  color: $yellow;
}

h2 {
  font-size: 20px;
  font-family: "Changa One";
  color: white;
  padding: 10px 20px;
}

h3 {
  font-size: 40px;
  font-family: "Changa One";
  color: white;
  padding: 10px 20px;
}

p {
  font-size: 12px;
  font-family: "Poppins";
  padding: 0px 20px;
}

#product-paragraph {
  text-align: left;
  padding: 0;
  width: 700px;
  line-height: 2;
  margin-top: 60px;
}

.nav-link {
  color: white;
  font-size: 14px;
  font-family: "Poppins";
  margin-right: 20px;
}

#product-title {
  text-align: left;
}
